#App {
  /* Disable text selection, or the app feels like a web page */
  -webkit-user-select: none;
  /* -webkit-app-region: drag; */

  /* Cover the whole window */
  height: 100%;

  /* Match the native window bg color passed to the main BrowserWindow */
  background: #f4f4f4;

  /* Smoother startup */
  animation: fadein 0.5s;
}

body {
  font-size: 0.75rem;
}

.loading-msg {
  height: 100vh;
  width: 100vw;
}

.sheets-table {
  overflow: scroll;
}

.sheets-table__header {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.sheets-table__row:hover {
  background-color: lightblue !important;
  cursor: pointer;
}

.sheets-table tr.sheets-table__row--selected {
  background-color: lightblue;
}

.pdf-list {
  height: 100%;
  align-items: center;
  max-height: 60vh;
  overflow: auto;
}

.pdf {
  height: 33%;
}

.action-panel {
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.striped:nth-child(odd) {
  background-color: white;
}

.striped:nth-child(even) {
  background-color: hsla(0, 0%, 100%, 0.2);
}

.disabled {
  background-color: rgba(76, 100, 131, 0.75);
  cursor: not-allowed;
}

.overflow-auto {
  overflow: auto;
}

.sheets-table__cont {
  height: 92vh;
}

.mw-12rem {
  max-width: 12rem;
}

.isLoading {
  width: 100vw;
  height: 100vh;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
