body {
  font-size: 0.75rem;
}

.loading-msg {
  height: 100vh;
  width: 100vw;
}

.sheets-table {
  overflow: scroll;
}

.sheets-table__row:hover {
  background-color: lightblue !important;
  cursor: pointer;
}

.sheets-table tr.sheets-table__row--selected {
  background-color: lightblue;
}

.pdf-list {
  height: 100%;
  align-items: center;
}

.pdf {
  height: 33%;
}

.action-panel {
  display: inline-flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.striped--near-white:nth-child(even) {
  background-color: white;
}

.disabled {
  background-color: rgba(76, 100, 131, 0.75);
  cursor: not-allowed;
}

.overflow-auto {
  overflow: auto;
}

.sheets-table__cont {
  height: 92vh;
}

.mw-12rem {
  max-width: 12rem;
}

.isLoading {
  width: 100vw;
  height: 100vh;
}

#App {
  /* Disable text selection, or your app will feel like a web page */
  -webkit-user-select: none;
  -webkit-app-region: drag;

  /* Cover the whole window */
  height: 100%;

  /* Make sure this matches the native window background color that you pass to
   * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
  background: rgba(0, 0, 0, 0);

  /* Smoother startup */
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
