.sheets-table {
  overflow: scroll;
}

.sheets-table__row:hover {
  background-color: lightblue !important;
  cursor: pointer;
}

.sheets-table tr.sheets-table__row--selected {
  background-color: lightblue;
}

.striped--near-white:nth-child(even) {
  background-color: white;
}

.action-panel {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.disabled {
  background-color: rgba(76, 100, 131, 0.65);
  cursor: not-allowed;
}

.overflow-auto {
  overflow: auto;
}

.vh-80 {
  height: 80vh;
}

.mw-12rem {
  max-width: 12rem;
}

.isLoading {
  width: 100vw;
  height: 100vh;
}
